[mysqld]
innodb_file_per_table=1
port = 3308
max_allowed_packet=268435456
open_files_limit=10000
default-storage-engine=MyISAM
explicit_defaults_for_timestamp = 1
tls_version=TLSv1.2

[client]
default-character-set=utf8mb4